@import '../../variables';

.select_button {
	position: relative;
	padding: 10px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 8px;
	height: 130px;
	width: 190px;
	text-align: center;
	cursor: pointer;
	border-radius: 10px;
	border: solid black 2px;
}

.create_dataset_button_text {
	margin: 0;
}

.icon_holder {
	position: absolute;
	top: 10px;
	right: 10px;
}

.button_box_center_icon {
	max-height: 100%;
}

.button_box_center_icon img {
	object-fit: contain;
	max-width: 100%;
	max-height: 100%;
}

@import url('https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css');

button.neumorphic {
	container-type: inline-size;
	aspect-ratio: 1/1;
	border: 0.5rem solid transparent;
	border-radius: 1rem;
	color: hsl(0 0% 10%);
	background: none;

	display: grid;
	place-content: center;
	gap: 1rem;

	box-shadow: -.5rem -.5rem 1rem hsl(0 0% 100% / .75),
	.5rem .5rem 1rem hsl(0 0% 50% / .5);
	outline: none;
	transition: all 0.1s;

	&:hover, &:focus-visible {
		p {
			color: $main-color;
		}
		scale: 1.1
	}
	&:active, &.active{
		box-shadow:
				var(--shadow),
				inset .5rem .5rem 1rem hsl(0 0% 50% / .5),
				inset -.5rem -.5rem 1rem hsl(0 0% 100% / .75);
		> i { font-size: 28cqi};
		> span { font-size: 13cqi};
	}

	>i {
		font-size: 31cqi;
	}
	> span {
		font-family: system-ui, sans-serif;
		font-size: 16cqi;
	}
}
