.explore-page-header-wrap {
	display: flex;
	position: sticky;
	top: 20px;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	z-index: 100;

	.back-button {
		border: none;
		background-color: transparent;

		a {
			text-decoration: none;
			color: black;
			font-size: 22px;
		}

		svg {
			width: 30px;
			height: 30px;
		}
	}

	.buttons-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		gap: 20px;
	}
}
